<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../dist/app.css">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm p-0">
      <a class="navbar-brand mr-0 p-3" href="/">
        Ladmin
      </a>
      
      <ul class="navbar-nav mr-auto">
        <li>
          <button class="border-0 btn btn-link ladmin-sidebar-toggle" type="button">
            <span class="navbar-toggler-icon"></span>
          </button>
        </li>
      </ul>
      
      <ul class="ladmin-navbar-nav ml-auto pr-3">
          <li class="nav-item dropdown">
              
              <a id="navbarDropdown" class="nav-link dropdown-toggle pl-0 ladmin-notification-menu" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                  <i class="fa fa-bell"></i>
                  <span class="badge badge-danger">1</span>
              </a>

              <ul class="dropdown-menu dropdown-menu-right ladmin-top-menu ladmin-notification-menu-component" aria-labelledby="navbarDropdown">
                  <li class="ladmin-top-menu-header text-center">
                    <strong>Notifications</strong>
                  </li>
                  <li class="ladmin-top-menu-body-notification">
                    
                    <div class="list-unstyled ladmin-notification-item">
                      <a href="#" class="media">
                        <div class="media-body ladmin-substr">
                          <small class="text-muted float-right">1 minutes a go</small>
                          <strong class="mt-0 mb-1">Notification Title</strong>
                          <p class="m-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                        </div>
                      </a>
                      <a href="#" class="media my-4">
                        <img src="https://via.placeholder.com/50" class="mr-3">
                        <div class="media-body ladmin-substr">
                          <small class="text-muted float-right">1 minutes a go</small>
                          <strong class="mt-0 mb-1">Notification Title</strong>
                          <p class="m-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                        </div>
                      </a>
                      <a href="#" class="media">
                        <img src="https://via.placeholder.com/50" class="mr-3">
                        <div class="media-body ladmin-substr">
                          <small class="text-muted float-right">1 minutes a go</small>
                          <strong class="mt-0 mb-1">Notification Title</strong>
                          <p class="m-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                        </div>
                      </a>
                      <a href="#" class="media">
                        <img src="https://via.placeholder.com/50" class="mr-3">
                        <div class="media-body ladmin-substr">
                          <small class="text-muted float-right">1 minutes a go</small>
                          <strong class="mt-0 mb-1">Notification Title</strong>
                          <p class="m-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                        </div>
                      </a>
                      <a href="#" class="media">
                        <div class="media-body ladmin-substr">
                          <small class="text-muted float-right">1 minutes a go</small>
                          <strong class="mt-0 mb-1">Notification Title</strong>
                          <p class="m-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                        </div>
                      </a>
                      <a href="#" class="media">
                        <img src="https://via.placeholder.com/50" class="mr-3">
                        <div class="media-body ladmin-substr">
                          <small class="text-muted float-right">1 minutes a go</small>
                          <strong class="mt-0 mb-1">Notification Title</strong>
                          <p class="m-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                        </div>
                      </a>
                    </div>

                  </li>
                  <li class="ladmin-top-menu-footer">
                    <a href="#">
                      View All
                    </a>
                  </li>
              </ul>
          </li>
          <li class="nav-item dropdown">
            
            <a id="navbarDropdown" class="nav-link dropdown-toggle pl-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                Jhone Due <span class="caret"></span>
            </a>

            <ul class="dropdown-menu dropdown-menu-right ladmin-top-menu" aria-labelledby="navbarDropdown">
                <li class="ladmin-top-menu-body">
                  <ul class="ladmin-top-menu-list">
                    <li>
                      <a href="#">Profile</a>
                    </li>
                    <li>
                      <a href="#">Withdrawal</a>
                    </li>
                    <li>
                      <a href="#">Logout</a>
                    </li>
                  </ul>
                </li>
            </ul>
        </li>
      </ul>
    </nav>
    
    <div class="ladmin-container">
      <div class="ladmin-sidebar">
        <strong class="ml-3">Main Menu</strong>

        <ul>
          <li class="active other and other">
            <a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-lock"></i> Role</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-lock"></i> Permission</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-line-chart"></i> Report</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-help"></i> Help</a>
          </li>
          <li class="active">
            <a href="#"><i class="fas fa-user-circle"></i>Account
              <!-- <span class="badge float-right mt-1 badge-danger">1</span> -->
            </a>
            <!-- Sub Menu -->
            <ul>
              <li>
                <a href="#">Admin
                  <span class="badge float-right mt-1 badge-danger">1</span>
                </a>
              </li>
              <li class="active">
                <a href="#">Member</a>

                <ul>
                  <li>
                    <a href="#">Admin
                      <span class="badge float-right mt-1 badge-danger">1</span>
                    </a>
                  </li>
                  <li class="active">
                    <a href="#">Member</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

      </div>
      <div class="ladmin-content">
        <div class="ladmin-page-title">
          <div class="container-fluid" style="position: relative;">
            <div class="row">
              <div class="col-lg-6">
                <h4>
                  <a href="" class="btn btn-outline-primary btn-sm mr-1 px-3">&larr;</a>
                  Dashboard Title
                </h4>
              </div>
              <div class="col-lg-6 breadcrumb-container">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Library</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="card border-0 shadow-sm">
            <div class="card-body">

              <table class="table ladmin-datatables" data-options='{"processing":true,"serverSide":true,"ajax":"http:\/\/admin.dep\/administrator\/account\/admin","columns":[{"data":"id","class":"text-center"},{"data":"name"},{"data":"email"},{"data":"action","class":"text-center","orderable":false}]}'>
                <thead>
                  <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Action</td>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="../../../dist/app.js"></script>
</body>
</html>